body,#header,.leftheader,.rightheader,#logo,#nav,#content,#footer{
	margin:0;
	padding: 0;
}
body{
	overflow-x: hidden;
	min-width: 1125px;
}
#header{
	height: 150px;
}
.leftheader{
    width:50%;
    float:left;
    height: 150px;
    text-align: center;
    line-height:150px;
 }
 #logo{
    margin-top:0;
    margin-left:230px;
    width:300px;
 }
 #nav{
 	background-color: rgb(230,230,230);
 	margin:0 auto;
 	display:inline-block;
 	list-style: none;
 }
 #nav li{
 	height:30px;
 	display:inline-block;
 	text-decoration: none;
 	text-align: center;
 }
 #nav li a{
 	/*display:inline-block;*/
 	margin:auto auto;
 	text-decoration: none;
 	height:30px;
 	margin-left:10px;
 	padding-right: 10px;
 	text-align: center;
 	line-height:30px;
 	font-size: 12px;
 	color: black;
 	border-right: 1px dashed black;
 }
 #nav li a.selected{
 	
 	padding-right: 0;
 	border-right: 0;
 }
.rightheader{
   width:50%;
   float:left;
   height: 150px;
}
#content{
	height:230px;
	background-color: rgb(225,233,230);
	position: relative;
}
#rightsider{
	width:16px;
	height: 100%;
	top:0;
	right: 0;
	position: absolute;

}

#siderbar{
	/*float:right;*/
	width:16px;
	height: 85px;
	position: absolute;
	top:50%;
	transform: translateY(-115%);
	background-size: 16px 170px;
}
.siderbar_right{
	background-image: url(images/_sidebar_icon.png);
}

.siderbar_left{
	background-image: url(images/sidebar_icon.png);
}
#hidebox{
	transition:left 0.3s;
}

/*@keyframes myfirst{
	to{left:0;}
}*/
.hideboxstyle{
      position:absolute;
      top:0;
      left:-650px;
      background:rgb(255,255,255);
      height:100%;
      width:666px;
      z-index: 1;
      box-shadow:10px 0 10px 0 rgba(0,0,0,0.1);
     }
#hidebox.selected{
	left:0;
	/*animation: myfirst 0.3s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;*/
}
#wholecontent{
	overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
#headcontent{
	width:650px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#headcontent .Mhz-text{
	margin-left:100px;
}
#headcontent .searchbox{
	display: flex;
	margin-left: 30px;
	width: 182px;
	height: 23px;
	border: 1px solid #ccc;
	margin-right: 30px;
	

}
#headcontent .searchbox input{
	width: 152px;
	height: 21px;
	border:0 none;
	outline:none;
	padding-left:6px;
   
}
#headcontent .searchbox .searchimg{
	width: 24px;
	height: 34px;
	background-image: url(images/search_btn.png);
	background-size: 24px 68px;
}

#midcontent{
	width: 666px;
	height: 230px;
	display: flex;
}
#midcontent_left{
	width: 275px;
	height:230px;
}
#midcontent_left div{
	width: 275px;
	height:230px;
	background-size: 290px 230px;
	display: none;
}
#midcontent_left img{
	width: 290px;
	height: 230px;
	/*display: none;*/
}

#midcontent_left .leftcontentstyle{
	display: block;
}

#midcontent_right{
	width: 391px;
	height:230px;
	background-color: rgb(225,233,230);
}

#midhead{
	width: 375px;
	height: 45px;	
}

#midhead ul,#midhead li{
	margin:0;
	padding:0;
	list-style: none;
}
#midhead ul{
	margin-top: 15px;
	margin-left:20px;
}
#midhead li{
	float:left;
	margin-left: 10px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	cursor:pointer;
}
#midhead ul .midheadstyle{
	background-image: url(images/slide/8.png);
	background-size:16px 16px;
	width: 16px;
	height: 16px;
}
#midhead ul .midheadstyle.selected{
	background-image: url(images/slide/9.png);
}



#midrightcontent{
	width: 375px;
	height:185px;	
}
#midrightcontent>div{
	display: none;
}
#midrightcontent>div.MHz_show{
	display: block;
}
#midrightcontent .MHz_style{

	margin-left:30px;
	margin-top:10px;
	width: 200px;
	height: 21px;
}
#midrightcontent .MHz_text{
	font-size: 14px;
	float:left;
}
#midrightcontent .MHz_img{
	width: 21px;
	height: 21px;
	background-image: url(images/slide/10.png);
	float:left;
	margin-left:10px;
	background-size: 21px 21px;
	
}
#midrightcontent .pro_style{
	margin-left:30px;
	margin-top:10px;
	font-size: 14px;
	color:#ccc;

}
#midrightcontent .popmusic{
	margin-left:30px;
	margin-top:10px;
	font-size: 14px;
	color:#ccc;

}
#midrightcontent .musictext{
	margin-left:30px;
	margin-top:10px;
	font-size: 14px;
	color:#ccc;
}

#music-class{
	width:600px;
	height: 80px;
	margin-top: 30px;
	margin-left: 100px;
}

#music-class ul,li{
  margin:0;
  padding: 0;
  list-style: none;
}
#music-class ul{
	margin-top: 10px;
	display: flex;
}
#music-class li{
	border-right: 1px solid #ccc;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	color:#888888;
}
.popMHz{
	width:600px;
	height: 20px;
	margin-left: 100px;
	margin-top:30px;
}
.popMHz .popular{
	font-size: 14px;
	float: left;
}
.popMHz .more{
	font-size: 14px;
	color: #888888;
	float: left;
	margin-left: 10px;
}
.popMHzcontent{
	width: 600px;
	height: 340px;
	margin-left:100px;
	margin-top:30px;
}
.popMHzcontent ul,li{
	margin:0;
	padding:0;
}
.popMHzcontent ul{
	display: flex;
	flex-wrap: wrap;
}
.popMHzcontent li{
	margin-top:20px;
	width: 280px;
	height: 50px;
	position: relative;
	display: flex;	
}
.popMHzcontent li .popMHz_introbox{
	width: 250px;
	position: absolute;
	left:45px;
	top:40px;
	border: 1px solid #ccc;
	background-color: #fff;
	z-index: 222;
	display: none;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}
.popMHzcontent li .popMHz_introbox .introstyle{
	
	height: 45px;
	margin-top:10px;
	border-bottom: 1px dashed #ccc;
	
}
.popMHzcontent li .popMHz_introbox .musicstyle{
	
	height: 45px;
	margin-top:10px;
}
.popMHzcontent li .popmusic_title{
	font-size: 12px;
}
.popMHzcontent li .popmusic_example{
	font-size: 12px;
	color: #888888;
}

.popMHzcontent li .popMHz_img{
	width: 45px;
	height: 45px;
}

.popMHzcontent li .popMHz_img>img{
	width: 45px;
	height: 45px;
	border-radius: 50%;
}
.popMHzcontent li .popMHz_music{
	width: 100px;
	height: 45px;
	margin-left: 10px;
}

.popMHzcontent li .popMHz_name{
	font-size: 14px;
	width: 150px;
	height: 20px;

}
.popMHzcontent li .popMHz_text{
	font-size: 14px;
	color: #888888;
	width: 150px;
	margin-top:5px;
	height: 20px;
}

/*当图片是可以更换时尽量不要使用背景图*/

/*#FastMHz>ul>li{
     float: left;
     width: 280px;
}*/

#rightcontent{
	position: absolute;
	left:600px;
	top:-80px;
	display: flex;
}

#rightcontent .musicplay{
   background-color: white;
   height: 244px;
}
#rightcontent .musicplay .textem{
	margin-top:30px;
	margin-left:20px;
	color:rgb(175,175,175);
}
#rightcontent .musicplay .text2000{
	margin-left:20px;
	font-size: 10px;
}
#rightcontent .musicplay .textselected{
	margin-top:30px;
	margin-left:20px;
	font-size: 10px;
	color:rgb(128,168,152);
}
#rightcontent .musicplay .horn{
	margin-left: 192px;
	margin-right: 10px;
	font-size: 12px;

}
#musicimg{
	margin-top:30px;
	margin-right: 15px;
}
#musicimg .musicimgstyle{
	float:right;
	margin-left:20px;
}
#leftcontent{
	position: absolute;
	top:0;
	left:180px;
	width:250px;
	height: 320px;
	overflow: auto;
}
#leftcontent .musicstyle{
	height:35px;
	line-height: 35px;
	padding-left: 20px;
	margin-top:20px;
	font-size: 14px;
	color:#333;
	}
#leftcontent .normal{
	width:180px;
	background-color:rgb(206,217,215);
}
#leftcontent .selected{
	background-color:rgb(157,214,197);
	width: 210px;
}
#leftcontent .textstyle{
	margin-top: 20px;
	font-size: 14px;
	color:#333;
}
#leftcontent .textstyle .linestyle{
    width:120px;
	height: 1px;
	background-color:rgb(206,217,215); 
	display:inline-block;
	top:-5px;
	margin-left: 16px;
	position: relative;
}
#content .share{
	position: absolute;
	bottom:20px;
	left:1024px;
	width: 60px;
	overflow: hidden;
	height: 20px; 
	font-size: 10px;
	color:rgb(155,155,155);
}
#content .share span{
	height: 20px;
	margin-left:10px;
}
#content .share_text{
	width: 60px;
	height: 20px;
	line-height: 20px;
	float: left;
	cursor:pointer;
}
#content .share_img{
	width: 190px;
	float: left;
	margin-left:10px;
}

#footer .icon{
	margin-top:25px;
	margin-left:800px;
	height: 50px;
	display: flex;
}
#footer .icon .iconimg{
	margin-left: 15px;
	width: 92px;
	height: 24px;
	background-image:url(images/osicon_fm.png);
	background-size: 92px 60px;
	background-position: 0 0;
}
#footer .icon .iconimg.selected{
	background-position: 0 -36px;
}
#footer .icon span{
	font-size: 10px;
	color:rgb(155,155,155);
	margin-right: 15px;
}
#footer .guanggao{
	margin-top:25px;
	margin-left:150px;
	border:1px solid #ccc;	
	width:950px;
	height: 90px;
}
#footer #copyright{
	margin-top:15px;
	margin-left:150px;
	overflow: hidden;	
}
#footer #copyright .copystyle{
	float: left;
	font-size: 10px;
	color:rgb(155,155,155);
}
#footer #copyright #intro{
	margin-left: 20px;
}
#footer #copyright #intro .introstyle{
	float: left;
	border-right: 1px solid #ccc;
	font-size: 10px;
	margin-left: 5px;
	padding-right: 5px;
	color:rgb(155,155,155);
}
#footer .textdouban{
	margin-top:15px;
	margin-left: 550px;
	font-size: 10px;
	color:rgb(155,155,155);
}
#welcome{
	position: absolute;
	left:530px;
	top:10px;
	display: none;
}
#loginbox{
	position:absolute;
	left:400px;
	top:180px;
	z-index: 999;
	display: none;
	/*width: 500px;*/
	
}
#loginbox .loginbox_left{
	width: 300px;
	height: 320px;
	background-color: white;
	float: left;

}
#loginbox .loginbox_contentleft{
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*#loginbox .loginhead{

}*/
#loginbox input.login_input{
	width: 260px;
	height: 35px;
	border: 0;
	background-color: rgb(237,241,240);
	margin-top:20px;
	padding-left:5px;

}

#loginbox .pwdbox{
	overflow: hidden;
}

#loginbox .pwdbox>input{
	margin-top:20px;
	width: 125px;
	height: 35px;
	border: 0;
	background-color: rgb(237,241,240);
	float:left;
	padding-left:5px;
}
#loginbox .pwdbox>img{
	float:left;
	margin-left:5px;
	margin-top:20px;
}
#loginbox .autobox{
	width: 260px;
	margin-top:20px;
	font-size: 10px;
}
#loginbox .autobox .checkboxstyle{
	height: 35px;
}
/*#loginbox .autobox.checkboxstyle>input{
	

}
#loginbox .autobox.checkboxstyle>label{

}*/
#loginbox .autobox .forget{
	float: right;
}
#loginbox .loginfoot{
	margin-top:20px;
	background-color: rgb(138,216,198);
	color:white;
	margin-left: 155px;
	width: 110px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
}
#loginbox .loginbox_right{
	width: 180px;
	height: 320px;
	background-color: rgb(90,90,90);
	float: right;
}
#loginbox .loginbox_close{
	color:rgb(155,155,155);
	float:right;
	margin-right:10px;
	margin-top:10px;
	cursor: pointer;
}
#loginbox .loginbox_contentright{
	margin-left:20px;
	margin-top:30px;

}

#loginbox .otherstyle{
	font-size:12px;
	color:rgb(155,155,155);

}


#loginbox .socialstyle{
	font-size:12px;
	color:rgb(138,216,198);
	margin-top:10px;

}
#loginbox .doubanfm{
	margin-top:165px;
	font-size:12px; 
	color:rgb(155,155,155);


}
#loginbox .register{
	margin-top:10px;
	border:1px solid rgb(155,155,155);
	width: 110px;
	height: 30px;
	line-height: 30px;
	color:white;
	padding-left:10px;

}
.a{
	color:red;
	font-size: 14px;
}
.b{
	font-size: 16px;
	color: green;
}

